<h1>Notes#index</h1>
<p>Find me in app/views/notes/index.html.erb</p>
<div>
<% @notes.each do |note| %>
	<%= note.file %>
	<br/>
<% end %>
</div>

<%= form_for Note.new do |f| %>
	<%= f.label :file, "Add note: " %>
	<%= f.file_field :file, multiple: true, name: "note[file]" %> 
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
