<%= form_for @note, :html => {:multipart => true} do |f| %>
	<p>
		<%= f.file_field :file %>
	</p>
	<p><%= f.submit %></p>

<!--
	<body>
		<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
		<script>
		$(function () {
			$('#fileupload').fileupload({
				dataType: 'json',
				done: function (e, data) {
					$.each(data.result, function (index, file) {
						$('<p/>').text(file.name).appendTo(document.body);
					});
				}
				progressall: function (e, data) {
					var progress = parseInt(data.loaded / data.total * 100, 10);
					$('#progress .bar').css(
						'width',
						progress + '%'
					}

				});

				});
			</script>
		</body> 
-->

<% end %>