/*
@author antaresyee
*/

body { 
  background-color:#1c54bd;
}

.form_div {
  position:relative;
  margin:0 auto;
  background-color:#0f46ad;
  border-radius:8px; 
  -moz-border-radius:8px; 
  -webkit-border-radius:8px;
}

.form_div_text {
  position:relative;
  top:50px;
  text-align:center;
  font-family:gotham_bold;
  font-size:34px;
}

#enter_a_class {
  width:20px;
  height:20px;
}

/* ENTER YOUR SCHOOL DIV */
#enter_your_school {
  height:320px;
  width:600px;
  top:100px;
  margin-bottom:100px;
}

#enter_your_school_form {
  position:relative;
  top:50px;
  width:100%;
}

#enter_your_school_input {
  display:block;
  width:50%;
  margin:0 auto;
}

#browse_notes_button {
  position:relative;
  margin: 0 auto;
}

#browse_notes_button_container {
  position:relative;
  margin:0 auto;
  height:40px;
  width:200px;
  top:80px;
  background-color:#b5b4b4;
  font-family:gotham_bold;
  border-radius:4px; 
  -moz-border-radius:4px; 
  -webkit-border-radius:4px;
}

#browse_notes_button_text {
  position:relative;
  text-align:center;
  top:10px;
  font-size:24px;
}

