<!-- @author antaresyee -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Nubhub!</title>
    <link rel="stylesheet" href="landing.css"/>
    <link href='http://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  		<p id="landing_login_signup_link">
        
        <%if user_signed_in? %> 
            <a>logout</a>
        <% else %>
          <a>login</a>
        <% end %>

        <a>login</a> / <a>signup</a></p>

  		<p id="landing_nubhub">nubhub</p>

  		<img id="landing_cloud" src="../app/assets/images/cloud_logo.png" width="600" height="600">


  		<a id="landing_button"><img src="../app/assets/images/whats_nubhub_button.jpg"></a>
  		
	  	<p id="landing_caption">
	  	Miss a lecture? Nubhub is a</br> 
		free note sharing site meant</br> 
		for college students who are,</br> 
		well, college students!</br>
	  	</p>

  </body>
</html>
