/*
@author antaresyee
*/

@font-face {
	font-family:proxima_nova;
	src:url("../app/assets/fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family:vag_rounded;
	src:url("../app/assets/fonts/VAG-Rounded-Bold.ttf");
}

* {
	font-family:proxima_nova;
	font-size:18px;
	color:white;
}

body { 
	background-color:#6B96E4; 
	position:relative;
}

#landing_login_signup_link {
	position:absolute;
	right:20px;
	font-family:Cabin;
	font-size:18px;
}

#landing_cloud {
	position:absolute;
	left:-280px;
}

#landing_nubhub {
	position:absolute;
	left:185px;
	top:165px;
	font-family:vag_rounded;
	font-size:72px;
}

#landing_caption {
	position:absolute;
	left:640px;
	top:210px;
	font-size:24px;
	line-height:120%;
}

#landing_button {
	position:absolute;
	left:640px;
	top:390px;
}
