/*
@author antaresyee
*/

@font-face {
	font-family:proxima_nova;
	src:url("../app/assets/fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family:vag_rounded;
	src:url("../app/assets/fonts/VAG-Rounded-Bold.ttf");
}

@font-face {
	font-family:gotham_bold;
	src:url("../app/assets/fonts/Gotham-Bold.otf");
}

@font-face {
	font-family:proxima_nova;
	src:url("../app/assets/fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family:vag_rounded;
	src:url("../app/assets/fonts/VAG-Rounded-Bold.ttf");
}

/* UNIVERSAL STYLING */
* {
	font-family:proxima_nova;
	font-size:18px;
	color:white;
}

body { 
	position:relative;
	background-color:#1c54bd; 
	margin:0px;
}

input {
    color:#000000;
    border:0px;
    border-radius:3px; 
    -moz-border-radius:3px; 
    -webkit-border-radius:3px;
    padding:5px;
    margin-bottom:13px;
    width:90%;
}

input:focus {
	outline-width:0;
}

ul {
	margin:0px;
	padding:0px;
}

ul li {
	margin:0px;
	padding:0px;
	list-style:none;
}

a {
	text-decoration:none;
}

.button {
	height:30px;
	width:80px;
	padding:0px;
	margin:0px;
	border:0px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-family:proxima_nova;
	font-size:14px;
	color:#FFFFFF;
	background-color:#b5b4b4;
}

.button:hover {
	font-family:proxima_nova;
	font-size:14px;
	color:#FFFFFF;
	background-color:#a19f9f;
}

/* used to put space between last element and footer */
.clear_bottom {
	height:150px;
}

/* MAIN NAV */
#nav_container {
	position:relative;
	height:150px;
	background-color:#B5B4B4;
}

#template_logo {
	position:relative;
	top:20px;
	left:20px;
}

#template_login_logout_link {
	position:absolute;
	right:50px;
	top:10px;
	font-family:Cabin;
	font-size:18px;
}

#template_login_logout_link a:hover{
	color:#6B96E4;
}

#main_nav ul li{
	position:relative;
	top:43px;
	list-style:none;
	display:inline;
}

#main_nav ul li a{
	font-family:Cabin;
	font-size:24px;
	padding-left:40px;
	padding-right:40px;
	padding-top:5px;
	padding-bottom:5px;

}

#main_nav ul li a:hover{
	background-color:#A19F9F;
}

#my_notes_nav {
	position:relative;
	left:3%;
}

#browse_notes_nav {
	position:relative;
	left:11%;
}

#how_it_works_nav {
	position:relative;
	left:20%;
}

#contact_us_nav {
	position:relative;
	left:28%;
}

/* FOOTER */
#footer_container {
	position:absolute;
	bottom:0px;
	height:50px;
	width:100%;
	background-color:#B5B4B4;
}

#footer_container ul li{
	position:relative;
	display:inline;
}

#footer_container ul li a{
	font-family:Cabin;
	font-size:18px;
	position:relative;
	top:12px;

}

footer ul li a:hover{
	color:#6B96E4;
}

#privacy_footer {
	left:5%;
}

#contact_us_footer {
	left:8%;
}







