

/*
@author antaresyee
*/

@font-face {
	font-family:proxima_nova;
	src:url("../app/assets/fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family:vag_rounded;
	src:url("../app/assets/fonts/VAG-Rounded-Bold.ttf");
}

* {
	font-family:proxima_nova;
	font-size:18px;
	color:white;
}

body { 
	background-color:#6B96E4; 
	position:relative;
	margin:0px;
}

#nav_container {
	position:relative;
	height:175px;
	background-color:#B5B4B4;
}

#template_logo {
	position:relative;
	top:20px;
	left:20px;
}

#template_login_logout_link {
	position:absolute;
	right:20px;
	font-family:Cabin;
	font-size:18px;
}

#main_nav ul{
	margin:0;
	padding:0;
}

#main_nav ul li{
	position:relative;
	top:30px;
	list-style:none;
	display:inline;
}

#main_nav ul li:hover{
	background-color:blue;
	
}

#main_nav ul li a{
	font-family:Cabin;
	text-decoration:none;
	font-size:24px;

	padding-left:90px;
	padding-right:90px;
	padding-top:5px;
	padding-bottom:5px;

}

#main_nav ul li a:hover{
	background-color:#A19F9F;
}
