    <%= render  partial: "partials/search_bar",
      locals: { redirect: browser_results_path }
    %>
    <%= render  partial:"partials/breadcrumbs" %>
    <div class="blank1"></div>
    <%= render  partial:"partials/alpha_list" %>

      <div class="span12 hashchange">
        <div class="content_container" id="out_slider">
          <%= render partial: 'default' %>
        </div>
      </div>