<div class="row-fluid">
	<div class="span12 hashchange" id="breadcrumb_container">
		<%= link_to "Home", root_path,
		class: "breadcrumbs" %>
		<p id="first_slash">/</p>
		<%= link_to "Duke University", "#",
			{path: "/browser/default",
				class: "breadcrumbs"} %>
		<p id="second_slash">/</p>
		<a class="breadcrumbs"></a>
		<p id="third_slash">/</p>
		<a class="breadcrumbs"></a>
	</div>
</div>
