
<ul id="breadcrumb_container">
	<li>
		<%= link_to "Home", root_path,
		id: "root_breadcrumb" %>
		<span class="divider" id="first_slash">/</span>
	</li>
	<li>
		<%= link_to "Duke University", "#",
		{path: "/browser/default",
			id: "first_breadcrumb"} %>
		<span class="divider" id="second_slash">/</span>
	</li>
	<li>
		<a id="second_breadcrumb"></a>
		<span class="divider" id="third_slash">/</span>
	</li>
			<a id="third_breadcrumb"></a>
</ul>


<!--
<div class="row-fluid">
	<div class="span12" id="breadcrumb_container">
			<%= link_to "Home", root_path,
			id: "root_breadcrumb" %>
			<span id="first_slash">/</span>
			<%= link_to "Duke University", "#",
				{path: "/browser/default",
					id: "first_breadcrumb"} %>
			<span id="second_slash">/</span>
			<a id="second_breadcrumb"></a>
			<span id="third_slash">/</span>
			<a id="third_breadcrumb"></a>
	</div>
</div>
-->