<!-- @author antaresyee -->
<p id="landing_login_signup_link">

  <%if user_signed_in? %> 
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path) %>
  <% end %>

  / <a>signup</a></p>

  <p class="landing_nubhub">nubhub</p>

  <img id="landing_cloud" src="../assets/cloud_logo.png" width="600" height="600">


  <a id="landing_button"><img src="../assets/whats_nubhub_button.jpg"></a>

  <p id="landing_caption">
    Miss a lecture? Nubhub is a</br> 
    free note sharing site meant</br> 
    for college students who are,</br> 
    well, college students!</br>
  </p>

