
<div class = "list_courses offset1">
    
    <h3 class="list_course_title course_link"><%= link_to courseToString(course), course_path(course)  %>

        <% if current_page?(current_user) %>
            HELLO
        <% elsif current_user.courses.include?(course) %>
            NOOOLOO
        <% else %>
            HEYY
        <% end %> 
    </h3>
</div>  


