
<div class="page-header">
<h1 class="offset1">Explore Courses</h1>
</div>
<div class="offset1">
<%= render	partial:"partials/search_bar", 
			locals:{
				redirect:courses_results_path, 
				help_text:course_search_help_text} %>

<h3>Browse by Subject</h3>

<%= render 	partial:"partials/alpha_list", 
			locals:{
				list:@subjects, 
				unique:"course", 
				controller:"subjects", 
				action:"show_courses", 
				class_name:"subject_link"} 
			%>
</div>

