    <div class="content_header" id="notes_header">
      <p id="notes_date">date</p>
      <p id="notes_author">author</p>
    </div>
    <div class="content_box" id="notes_box">
      <div class="note_line">
        <ul id="note_line_ul">
          <li class="note_line_date">2/24/12</li>
          <li class="note_line_author">antaresyee</li>
          <li class="note_line_downloads">18</li>
        </ul>
        <%= image_tag("note_icon.jpg", width: 14, height: 18, class: "note_icon")%>
        <%= image_tag("download_icon.jpg", width: 20, height: 20, class: "download_icon")%>
      </div>
      <div class="note_line"></div>
      <div class="note_line"></div>
      <div class="note_line"></div>
      <div class="note_line"></div>
    </div>
