<!--
  -->
        <div class="content_header" id="courses_header">
          <p id="courses_name">sections</p>
        </div>
      <div class="accordian" id="sections_accordian">
            <% @sections.each do |section| %>
          <div class="content_box accordian-group"  id="courses_box">
              <div class="accordian-heading"> 
                <ul>
                  <li class="courses_line_name">
                    <%= link_to section.name, "#section#{section.name.hash}", {
                      data: {toggle: 'collapse', parent: '#sections-accordian'},
                      class: 'accordian-toggle' 
                    } %>
                  </li>
                </ul>
              </div>
              <div id="section<%="#{section.name.hash}"%>" class="accordian-body collapse">
                <div class="accordian-inner">
                  <%= render partial: 'note' %>
                </div>
              </div>
          </div>
            <% end %>
          </div>
        <%= will_paginate @sections %>
