/* Stylings that can be used universally */

.blank1 {
	height:70px;
	clear:both;
	position:relative;
	margin-top:-1em;
}


.blank2 {
	height:150px;
	clear:both;
	position:relative;
	margin-top:-1em;
}

