/* LEFT CONTAINER */
#left_container {
	float:left;
	position:relative;
	width:25%;
}

#my_notes_profile_picture {
	position:relative;
	margin-left:23%;
	top:60px;
	width:150px;
	height:150px;
	border:3px solid white;
	background-color:#0F46AD;
}

#left_container p {
	position:relative;
	margin-left:23%;
	width:100px;
	font-size:22px;
}

#my_notes_username {
	top:87px;
	bottom:63px;
}

#my_notes_horizontal_line {
	position:relative;
	top:100px;
	margin-left:23%;
	width:50%;
}

#my_notes_num_uploads {
	top:120px;
}

#left_container #my_notes_uploads {
	top:115px;
	font-size:15px;
}

/* RIGHT CONTAINER */
#right_container {
	float:right;
	position:relative;
	top:90px;
	width:75%;
}

.upload_notes_button {
	position:absolute;
	margin-left:5%;
	left:60%;
	bottom: 62px;
}

.content_tab {
	position:relative;
	width:150px;
	height:100px;
	background-color:#0F46AD;
	border-radius:16px;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
}

#tab_container {
	position:relative;
	top:7px;
	width:300px;
	margin-left:5%;
}

#following_tab {
	float:left;
	cursor:pointer;
	background-color:#0F46AD;
}

#uploads_tab {
	float:right;
	cursor:pointer;
	background-color:#1C54BD;
}

.content_tab p {
	position:relative;
	width:50%;
	top:10px;
	margin:0 auto;
	font-family:proxima_nova;
}

#my_notes_content_container {
	position:relative;
	margin-left:1%;
	top:44px;
	width:75%;
	height:1000px;
	min-width:700px;
	background-color:#0F46AD;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

/* FOLLOWING TAB */
#following_container {
	position:relative;
}

.content_line {
	position:relative;
	width:100%;
	height:140px;
}

.content_line_course_number {
	position:absolute;
	left:11%;
	bottom:52px;
}

.content_line_course_number a {
	font-family:gotham_bold;
	font-size:22px;
}

.content_line_course_number a:hover {
	color:#BAD1FB;
}

.content_line_course_name {
	position:absolute;
	left:11%;
	bottom:37px;
	font-family:proxima_nova;
	font-size:15px;
	color:#BAD1FB;
}

.content_line_school_name {
	position:absolute;
	left:11%;
	bottom:24px;
	font-size:14px;
	font-style:italic;
	color:#BAD1FB;
}

.content_line_num_downloads {
	position:absolute;
	bottom:47px;
	left:84%;
	font-size:15px;

}

.my_notes_course_icon {
	position:absolute;
	left:4%;
	bottom:65px;
}

.my_notes_download_icon {
	position:absolute;
	bottom:62px;
	left:80%;
}

.my_notes_x_icon {
	position:absolute;
	bottom:64px;
	left:91%;
}

.content_line_line {
	position:absolute;
	margin-left:5%;
	bottom:0px;
	width:90%;
	height:1px;
	border-top:1px solid #6089D4;
}

/* UPLOADS TAB */

#uploads_container {
	position:relative;
	display:none;
}

.content_line_date {
	position:absolute;
	left:11%;
	bottom:52px;
	font-family:gotham_bold;
	font-size:22px;
}

.my_notes_note_icon {
	position:absolute;
	left:4%;
	bottom:61px;
}

.my_notes_upload_icon {
	bottom:62px;
  	left:88%;
 	position:absolute;
}


.content_line_uploads_course_name {
	position:absolute;
	left:11%;
	bottom:40px;
	font-size:14px;
	color:#BAD1FB;
}

.content_line_uploads_school_name {
	position:absolute;
	left:11%;
	bottom:25px;
	font-size:13px;
	font-style:italic;
	color:#BAD1FB;
}

