<div id="footer_container">
	<footer class="footer">
		<ul>
			<li id="privacy_footer"><a href="landing.html">Privacy</a></li>
			<li id="contact_us_footer"><a>Contact Us</a></li> 
		</ul>
	</footer>
</div>
